[Unit]
Description=Bridge interface for LXC Containers
Requires=network.target
#Requires=network.target dnsmasq.service

[Service]
Type=oneshot

# Bring up bridge interface
ExecStart=/sbin/brctl addbr lxcbr0
ExecStart=/sbin/ip address add 192.168.150.1/24 dev lxcbr0
ExecStart=/sbin/ip link set lxcbr0 up

# Setup IP forwarding
ExecStart=/usr/bin/sysctl -w net.ipv4.ip_forward=1
ExecStart=/sbin/iptables        -A FORWARD     -i lxcbr0 -j ACCEPT
ExecStart=/sbin/iptables -t nat -A POSTROUTING -o eno1 -j MASQUERADE

#Workaround dhclient bugs on debian 7
ExecStart=/sbin/iptables -t mangle -A POSTROUTING -p udp --dport bootpc -j CHECKSUM --checksum-fill

RemainAfterExit=yes

# Undo forwarding
ExecStop=/sbin/iptables -t mangle -D POSTROUTING -p udp --dport bootpc -j CHECKSUM --checksum-fill
ExecStop=/sbin/iptables        -D FORWARD     -i lxcbr0 -j ACCEPT
ExecStop=/sbin/iptables -t nat -D POSTROUTING -o eno1  -j MASQUERADE

# Bring bridge interface down
ExecStop=/sbin/ip link set lxcbr0 down
ExecStop=/sbin/brctl delbr lxcbr0

[Install]
WantedBy=multi-user.target
