# Simple configuration for an HTTP proxy listening on port 80 on all
# interfaces and forwarding requests to a single backend "servers" with a
# single server "server1" listening on 127.0.0.1:8000
global
  log stdout daemon  # Cuidado, menor performance que enviar a syslog
  stats socket /var/tmp/tmp.gF4lH1KHvX/ha.sock mode 666 level admin  # Activar el socket para administrar haproxy

defaults
  log global  # logs al logger definido en global
  mode http
  timeout connect 5000ms  # Los timeouts no son obligatorios, pero se quejará en el arranque si no los ponemos
  timeout client 50000ms
  timeout server 50000ms

frontend http-in
  bind *:8080
  default_backend servers

backend servers
  server server1 127.0.0.1:8001
