[client]
# Configuration needed by xtrabackup
user=root
password=elpassword
[mysqld]
# Path to Galera library
wsrep_provider=/usr/lib64/libgalera_smm.so
# Cluster connection URL. gcomm://<node:ip>,<node:ip>,<node:ip>
wsrep_cluster_address=gcomm://<ip principal>,<ip secundario1>,<ip secundario2>
# Controls the number of threads that can apply replication transactions in parallel
wsrep_slave_threads=8
# Sets up the method for taking the State Snapshot Transfer (SST): xtrabackup, rsync, mysqldump, custom_script_name
wsrep_sst_method=xtrabackup
# The name of the cluster and should be identical on all nodes belonging to the same cluster
wsrep_cluster_name=protecthub_cluster
# Interfaz donde se ofrecera la base de datos mysql.
# Solo escuchará en esa interfaz. Para que escuche en todas poner 0.0.0.0
bind-address=ip.of.the.server
# Interfaz interna para comunicacion de los nodos del cluster
wsrep_node_address=ip.of.the.server
# In order for Galera to work correctly binlog format should be ROW
binlog_format=ROW
# MyISAM storage engine has only experimental support
default_storage_engine=InnoDB
# This changes how |InnoDB| autoincrement locks are managed and is a requirement for Galera
innodb_autoinc_lock_mode=2
# Affects how InnoDB uses gap locking for searches and index scans
innodb_locks_unsafe_for_binlog=1
# Directory where wsrep provider will store its files (like grastate.dat).
wsrep_data_home_dir=/var/lib/mysql
# Directory under which each MySQL instance keeps the data files for InnoDB and the directories representing individual databases
datadir=/var/lib/mysql

# Set the notification command that server will execute every time cluster membership or local node status changes
#wsrep_notify_cmd=command
