[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
[keybindings]
[profiles]
  [[default]]
    background_color = "#ffffff"
    foreground_color = "#000000"
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
  [[perconapre]]
    [[[child0]]]
      position = 0:27
      type = Window
      order = 0
      parent = ""
      size = 1366, 713
    [[[child1]]]
      position = 683
      type = HPaned
      order = 0
      parent = child0
    [[[child3]]]
      position = 356
      type = VPaned
      order = 1
      parent = child1
    [[[terminal2]]]
      profile = default
      command = ssh comonpercomysql01
      type = Terminal
      order = 0
      parent = child1
    [[[terminal5]]]
      profile = default
      command = ssh comonpercomysql03
      type = Terminal
      order = 1
      parent = child3
    [[[terminal4]]]
      profile = default
      command = ssh comonpercomysql02
      type = Terminal
      order = 0
      parent = child3
  [[perconapro]]
    [[[child0]]]
      position = 0:27
      type = Window
      order = 0
      parent = ""
      size = 1366, 713
    [[[child1]]]
      labels = None, None
      type = Notebook
      order = 0
      parent = child0
    [[[child2]]]
      position = 681
      type = HPaned
      order = 0
      parent = child1
    [[[child4]]]
      position = 338
      type = VPaned
      order = 1
      parent = child2
    [[[child7]]]
      position = 681
      type = HPaned
      order = 1
      parent = child1
    [[[child9]]]
      position = 338
      type = VPaned
      order = 1
      parent = child7
    [[[terminal11]]]
      profile = default
      command = ssh nagpercomysql03
      type = Terminal
      order = 1
      parent = child9
    [[[terminal10]]]
      profile = default
      command = ssh nagpercomysql02
      type = Terminal
      order = 0
      parent = child9
    [[[terminal3]]]
      profile = default
      command = ssh jaspercomysql01
      type = Terminal
      order = 0
      parent = child2
    [[[terminal5]]]
      profile = default
      command = ssh jaspercomysql03
      type = Terminal
      order = 0
      parent = child4
    [[[terminal6]]]
      profile = default
      command = ssh jaspercomysql02
      type = Terminal
      order = 1
      parent = child4
    [[[terminal8]]]
      profile = default
      command = ssh nagpercomysql01
      type = Terminal
      order = 0
      parent = child7
[plugins]
