upstream django {
    # Distribute requests to servers based on client IP. This keeps load
    # balancing fair but consistent per-client. In this instance we're
    # only using one uWGSI worker anyway.
    ip_hash;
    server unix:/run/uwsgi/app/graphite/socket;
}
server {
        listen      8080;
        server_name graphite;
        charset     utf-8;
        root          /opt/graphite/webapp;

        # Logs
        access_log    /var/log/nginx/graphite.access.log;
        error_log     /var/log/nginx/graphite.error.log;

        # Django admin media.
        location /media/admin/ {
          alias /usr/lib/python2.7/dist-packages/django/contrib/admin/media;
        }
 
        # Your project's static media.
        location /content/ {
          alias /opt/graphite/webapp/content/;
        }
 
        # Finally, send all non-media requests to the Django server.
        location / {
          uwsgi_pass  django;
          include     uwsgi_params;
        }
}

